@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

#name{
	color: #FF8963;
}

header{
    position: sticky;
}

.hero, .content, .features {
    min-height: 100vh; 
}


.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .v-adjust{
    transform: translateY(-10vh);
}
