@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

#name{
	color: #FF8963;
}

header{
    position: sticky;
}

.hero, .content, .features {
    min-height: 100vh; 
}


.hero{
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .v-adjust{
    transform: translateY(-10vh);
}

section .features, section .content{
    min-height: 100vh;
}

.namaewa{
    display: inline-block;
}

#menu{
    display: flex;
}

@media only screen 
  and (min-device-width: 769px) 
  and (max-device-width: 5000px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #menu{
    display: flex;
    }
}

@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 768px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #menu{
        display: none;
    }
}